@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 100% 95.3%; /* light blue */
    --foreground: 224 71.4% 4.1%; /* dark blue */
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 210 40% 60%; /* moderate blue */
    --primary-foreground: 0 0% 100%;
    --secondary: 210 20% 88%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 210 20% 94%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 270 40% 60%; /* violet */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 80%;
    --input: 210 20% 80%;
    --ring: 210 40% 60%;
    --radius: 0.5rem;
    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 210 40% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 224 71.4% 10%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 224 71.4% 10%;
    --sidebar-ring: 210 40% 60%;
  }
  .dark {
    --background: 224 71.4% 4.1%; /* dark blue */
    --foreground: 210 20% 98%; /* almost white */
    --card: 224 71.4% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 40% 60%; /* moderate blue */
    --primary-foreground: 0 0% 100%;
    --secondary: 224 71.4% 10%;
    --secondary-foreground: 210 20% 98%;
    --muted: 224 71.4% 10%;
    --muted-foreground: 210 20% 60%;
    --accent: 270 40% 60%; /* violet */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 71.4% 10%;
    --input: 224 71.4% 10%;
    --ring: 210 40% 60%;
    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 210 40% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 224 71.4% 10%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 224 71.4% 10%;
    --sidebar-ring: 210 40% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
